.App {
  display: block;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 500px;
}

#contain-header {

  top: 0em;
  height: 3em;
  position: fixed;
  color: white;
  display: block;
  background-color: dodgerblue;
  width: 100%;
  -moz-box-shadow: 0 3px 10px 2px grey;
  box-shadow: 0 3px 10px 2px grey;
  z-index: 10;
}

header {
  top: 0em;
  position: relative;
  min-height: 3em;
  z-index: 10;
}

.App-logo {
  position: absolute;
  animation: App-logo-spin infinite 20s linear;
  height: 30px;
  z-index: 11;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  top: 0em;
  height: 3em;
  width: 100%;
  color: white;
}

.ed {
  font-size: x-large;
  color: white;
  margin-left: 1.8em;
  border: solid black 1px;
  letter-spacing: 6px;
  padding: 0;
  border: none;
}

#ph1 {
  visibility: hidden;
}

.categories {
  margin-left: 10rem;
  padding: 5px;
}

#login {
  color: white;
  font-size: small;
  padding: 5px;
  margin-right: 6em;
}

/* Style the search box inside the navigation bar */

.search-container input[type=text] {
  padding: 6px;
  border: none;
  font-size: small;
}

/* Style the links inside the navigation bar */

 a {
  padding: 4px 3px;
  text-decoration: none;
}

/* Change the color of links on hover */

a:hover {
  color: black;
}

/* Style the "active" element to highlight the current page */

a.active {
  color: white;;
}



/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */

.profile {
  position: absolute;
  top: .28em;
  height: 2.7em;
  width: 45px;
  bottom: 0.4em;
  right: 0.4em;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#top-of-photo {
  display: block;
  height: 3em;
  width: 100%;
  visibility: hidden;
}

#banner-photo {
  left: 0em;
  height: 100%;
  width: 100%;
  min-width: 100%;
  position: fixed;
  background-color:floralwhite;
  background-size: cover;
  z-index: 1;
}

#banner-photo img {
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  transition: opacity 1s ease-in-out;
}

#banner-photo img.top {
  animation-name: banner-FadeInOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 10s;
  animation-direction: alternate;
}

@keyframes banner-FadeInOut {
    0% { opacity: 1; }
    45% { opacity: 1; }
    55% { opacity: 0; }
    100% { opacity: 0; }
}


#banner-text {
  position: fixed;
  margin: 11em 20px;
  width: 800px;
  font-size: x-large;
  line-height: 20px;
  text-align: left;
  text-transform: uppercase;
  color: white;
  letter-spacing: 5px;
  text-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  z-index: 3;
}

#banner-text2 {
  position: fixed;
  margin: 13em;
  width: 800px;
  font-size: x-large;
  line-height: 20px;
  text-align: left;
  padding-left: 20px;
  text-transform: uppercase;
  color: white;
  letter-spacing: 5px;
  text-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  z-index: 3;
}

#below-banner-photo {
  width: 100%;
  position: relative;
  top: 480px;
  background: #ebebeb;
  background-color: #ebebeb;
  height: 100%;
  margin-bottom: 3px;
  -moz-box-shadow: 0 3px 10px 0 gray;
  box-shadow: 0 3px 10px 0 gray;
  z-index: 5;
}

#landing-footer1 {
  left: 0em;
  position: absolute;
  bottom: 0em;
  width: 100%;
  height: 18%;
  display: flex;
  background-color: dimgray;
  color: darkgray;
  text-align: center;
  -moz-box-shadow: 0 0 10px 2px darkgray;
  box-shadow: 0 0 10px 2px darkgray;

}

#row-of-boxes {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

li a {
  font-size: small;
  display: block;
  padding: 1px;
  color: darkgrey;
}

.footings {
  left: .6em;

  display: flex;
  width: 4em;
  flex-direction: column;
  align-items: left;
  flex-wrap: nowrap;
  color: rgb(108, 103, 103);  
}

.footings2 {
  left: 1.9em;

  width: 6em;
  display: flex;
  flex-direction: column;
  align-items: left;
  flex-wrap: nowrap;
  color: rgb(108, 103, 103);
}

article {
  padding: 20px;
  margin: 0 auto;
  font-size: medium;
}

article p {
  margin: 10px;
  margin-bottom: 20px;
  overflow: auto;
}



