.register-wrapper {
    display: block;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    margin: 4em;
    padding: 1.4em;
    padding-top: .6em;
    border: 0;
    width: 11em;
    height: 120px;
    background-color: darksalmon;
    color: white;
    -moz-box-shadow: 0 3px 10px 2px grey;
    box-shadow: 0 3px 10px 2px grey;
    letter-spacing: 2px;
    text-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

.email {
    padding-bottom: .4em;
}

.pswd {
    padding-bottom: .2em;
}
